@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@600&family=Raleway:wght@300;500&display=swap');

#blogposts-container {
    border-radius: 30px;
    color: var(--main-bg);
    padding: 2em;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    color: #ffffff;
}

/* .fa-times {
    position: relative;
    left: 23rem;
} */

a {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}

.blog-item {
    background-color: #14397d;
    list-style: none;
    width: 20vw;
    margin: 0 auto;
}

.blogpost-full {
    text-align: center;
    color: white;
    background-color: #14397d;
}
