@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@600&family=Raleway:wght@300;500&display=swap');
:root {
    --main-shadow: #e8e8e8;
}
.form-control {
    border-radius: 8px;
    padding: 0.4rem;
    box-shadow: 1px 2px var(--main-shadow);
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
}

.form-container {
    color: #ffffff;
    text-align: center;
    margin-top: 5rem;
    font-size: 35px;
    font-weight: bolder;
}

h1 {
    text-align: center;
    margin: 2rem auto;
    width: 25%;
    color: #ffffff;
    font-size: 60px;
}

.submit-btn-blog {
    margin-top: 12px;
}
