body {
    background-color: #edc7b7;
}

#register-form {
    width: 50vw;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 10px orange;
    background-color: #eee2dc;
    border-radius: 30px;
    color: #000000;
    padding: 2em;
}

#submitBtn {
    margin-top: 2em;
    padding: 1em;
    border-radius: 30px;
    background-color: #ac3b69;
    transition-duration: 0.4s;
}
#submitBtn:hover {
    background-color: orange; /* Green */
    color: white;
}
input {
    border-radius: 30px;
}
