{% extends 'layout.html' %} {% block title%} DevShare Blogs {% endblock%} {%
block content%}

<style>
    body {
        background-image: url({{url_for(
                'static',
                filename= 'assets/library.jpeg'
            )}});
    }
</style>

<h1>Blogposts</h1>
<br />

{% for blogpost in blogposts%}

<div id="blogposts-container">
    <ul>
        <li class="blog-item">
            <a
                href="{{url_for('blogpost', id=blogpost.id)}}"
                class="blogpost-header"
            >
                {{blogpost.title}}
            </a>
            <h4>By: {{blogpost.blog_author.username}}</h4>
        </li>
    </ul>
</div>

{%endfor%} {%endblock%} <br />
