{%extends 'layout.html' %} {% block title%} Blosposts {% endblock%} {% block
content%}

<style>
    body {
        background-image: linear-gradient(
                rgba(169, 169, 169, 0.45),
                rgba(169, 169, 169, 0.45)
            ),
            url({{url_for('static', filename= 'assets/library.jpeg')}});
    }
</style>

<h1>{{blogpost.title}}</h1>
<br />
<div class="blogpost-full">
    <h6 class="blog-description">{{blogpost.description}}</h6>
    <p>{{ moment(blogpost.date_posted).format('LLL') }}</p>
    <p>{{blogpost.content|safe}}</p>
    <a href="{{url_for('blogposts')}}"> Back</a>

    <h2></h2>
    <br />

    {%endblock%}
</div>
