{% extends 'layout.html' %} {% block title%} Homepage {% endblock%} {% block
content%}

<div id="container-homepage">
    <h1>Dev Share</h1>
    <div id="cards">
        <div id="card-main">
            <div class="card" style="width: 26rem">
                <img
                    class="card-img-top card-main-img"
                    src="{{url_for('static',
        filename='assets/homepage_img.jpeg')}}"
                    alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">Welcome to DevShare</h5>
                    <p class="card-text">
                        At DevShare, Lorem ipsum dolor sit amet. Lorem ipsum
                        dolor sit amet. Lorem ipsum dolor sit, amet consectetur
                        adipisicing elit.
                    </p>
                    <a class="nav-link" href="{{url_for('register')}}"
                        >Sign Up Now!</a
                    >
                </div>
            </div>
        </div>

        <div id="card-feature">
            <div id="card1" class="card" style="width: 15rem">
                <div class="card-body">
                    <h5 class="card-title">
                        Share your stories with other developers
                    </h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequuntur perferendis culpa.
                    </p>
                    <a href="{{url_for('blogposts')}}" class="btn">See Posts</a>
                </div>
            </div>

            <div class="card" style="width: 15rem">
                <div id="card2" class="card-body">
                    <strong
                        ><h5 class="card-title">Real Experiences</h5></strong
                    >
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.
                    </p>

                    <a class="nav-link" href="{{url_for('user_list')}}"
                        >DevProfiles</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
