{% extends 'layout.html' %} {% block title%} Login page {% endblock%} {%block
content%}

<style>
    body {
        background-image: linear-gradient(
                rgba(169, 169, 169, 0.45),
                rgba(169, 169, 169, 0.45)
            ),
            url({{url_for('static', filename= 'assets/library.jpeg')}});
    }
</style>

<form method="POST" id="login-form">
    <h3 id="header-login">Sign In</h3>
    {{form.hidden_tag()}}
    <br />
    {{form.email.label()}} {{form.email(class="form-control",
    placeholder="Email")}} {{form.password.label()}}
    {{form.password(class="form-control", placeholder="Password")}}
    <br />
    <div class="checkbox mb-3">
        <h6>Can't login?</h6>
        <a href="{{url_for('register')}}" class="btn btn-sm btn-secondary"
            >Sign Up For an Account</a
        >
    </div>
    {{form.submit_btn_login(class="btn btn-lg btn-block btn-primary")}}
</form>

{%endblock %}
