{% extends 'layout.html'%} {%block title%} Photo Upload {%endblock%} {% block
content%}

<style>
    body {
        background-image: linear-gradient(
                rgba(169, 169, 169, 0.45),
                rgba(169, 169, 169, 0.45)
            ),
            url({{url_for('static', filename= 'assets/library.jpeg')}});
    }
</style>
<div class="form-container">
    <form
        action="http://localhost:5000/upload-img/"
        enctype="multipart/form-data"
        method="POST GET"
    >
        {{form.hidden_tag()}} {{form.name.label()}}
        {{form.name(class="form-control", placeholder="Name")}}
        <input type="file" name="file" />
        {{form.submit_btn_img(class="btn btn-lg btn-block btn-primary ")}}
    </form>
</div>

{%endblock%}
