{% extends 'layout.html' %} {% block title%} DevShare Blogs {% endblock%} {%
block content%}

<style>
    body {
        background-image: url({{url_for(
                'static',
                filename= 'assets/abstract-background.jpeg'
            )}});
    }
</style>

<h1>User Profiles</h1>
<br />

{% for user_account in user_accounts%}

<div id="blogpost-container">
    <div class="card" style="width: 50rem">
        <a href="#"> <i class="fas fa-times"></i></a>
        <div class="card-body blog-card">
            <h5 class="card-title">
                <strong>
                    <a href="#" class="blogpost-header">
                        {{user_account.username}}
                    </a>
                </strong>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                {{user_account.introduction}}
            </h6>
            <div id="card-links">
                <a href="#" class="blogpost-link">View Posts</a>
            </div>
        </div>
    </div>
</div>

{%endfor%} {%endblock%} <br />
